*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
 

.top-bar  p{
    margin: 0;
    padding: 6px;
    background-color: #05A2A9;
    color: #fff;
    font-family: monospace;
    font-size: medium;

    }
  
nav {
    position: fixed;
}
.bg-dark {
    background-color: #fff !important;
    
}

.navbar-brand {
    font-weight: bold;
    font-family: monospace;
    font-size: 28px;
    color: #000 !important; 

}

.navbar-dark .navbar-nav .nav-link {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #000 !important; 
}

.navbar-dark .navbar-nav .nav-item {
    margin: 0 15px;

}

.dropdown:hover>.dropdown-menu {
  display: block;
}
.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

/* carousel*/
.carousel-item{
  height: 32rem;
  background: #777;
  color: #fff;
  position: relative;
  background-position: center;
  background-size: cover;
 
}
.container-carousel {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  

}

/* services */
.container-services{
  margin-top: 20px;
}




/* from2 */
	.contact-menu{
    margin: 40px;
		padding: 2%;
		
  }
  
   .container-form .row .col-md-3{
		background: #05A2A9;
		padding: 4%;
		border-top-left-radius: 0.5rem;
		border-bottom-left-radius: 0.5rem;
	}
	.contact-info{
		margin-top:10%;
	}
	.contact-info img{
		margin-bottom: 15%;
	}
	.contact-info h2{
		margin-bottom: 10%;
	}
	.col-md-9{
		background: #fff;
		padding: 3%;
		border-top-right-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
	}
	.contact-form label{
		font-weight:600;
	}
	.contact-form button{
		background: #25274d;
		color: #fff;
		font-weight: 600;
		width: 25%;
	}
	.contact-form button:focus{
		box-shadow:none;
  }
  
 
