*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    }
 

.top-bar  p{
    margin: 0;
    padding: 6px;
    background-color: #05A2A9;
    color: #fff;
    font-family: monospace;
    font-size: medium;

    }

 
nav {
    position: fixed;
}




.bg-dark {
    background-color: #fff !important;
    
}

.navbar-brand {
    font-weight: bold;
    font-family: monospace;
    font-size: 28px;
    color: #000 ; 

}


.navbar-dark .navbar-nav .nav-link {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000 !important; 
}
.navbar-dark .navbar-nav a:hover {
    color: #05A2A9 !important;
    border-bottom: 2px solid #05A2A9;
    
}

.navbar-dark .navbar-nav .nav-item {
    margin: 0 15px;

}

.dropdown:hover>.dropdown-menu {
  display: block;
}
.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

/* carousel */
.carousel-inner {
    max-height: 40rem !important;

}

.carousel-item-next,
.carousel-item-prev,
.carousel-item-active {
    transition: transform 1.2s ease; 
} 

.carousel-indicators li {
    width: 40px;
    height: 6px;
    margin-right: 4px;
    margin-left: 4px ;
}
/* services */
.container-services{
  margin-top: 20px;
}

/* cards */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#team {
    background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #05A2A9;
    border-color: #05A2A9;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #05A2A9;
    border-color: #05A2A9;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #05A2A9;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #05A2A9 !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #05A2A9 !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}




/* from2 */
 
	.contact-menu{
       
    margin: 40px;
        padding: 2%;
        
        
		
  }
 
  
   .container-form .row .col-md-3{
		background: #05A2A9;
		padding: 4%;
		border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        
	}
	.contact-info{
        margin-top:10%;
	}
	.contact-info img{
		margin-bottom: 15%;
	}
	.contact-info h2{
		margin-bottom: 10%;
	}
	.col-md-9{
		background: #fff;
		padding: 3%;
		border-top-right-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
	}
	.contact-form label{
		font-weight:600;
	}
	.contact-form button{
		background: #25274d;
		color: #fff;
		font-weight: 600;
		width: 25%;
	}
	.contact-form button:focus{
		box-shadow:none;
  }
   .map{ 
     
      position: relative;
      left: 20%;
      margin-bottom: 0px;
      margin-top: 0px;
      padding-top: 0px;
      padding-bottom: 0px;
  }

  /* footer */
  footer {
    background-color: #111111;
    padding-top: 1px;
  }
  
  footer h4 {
    color: #05A2A9;
  }
  
  footer a   {
    color: #fff;
  }

  footer p {
    color: #fff;
  }
  .footer-copyright {
    color: #fff;
    background-color: #000;
  }
 
